style
    include styles/percentages.scss
.wrapper
    .percentages-title
        | percentages / pie-charts
    .percentages-charts
        .chart(data-percent='0') 0
        .chart(data-percent='38') 38
        .chart(data-percent='62') 62
        .chart(data-percent='89') 89
        .pieID.pie

